/* Three image containers (use 25% for four, and 50% for two, etc) */
#back
{
  background-image: url(img/wall1.jpg);
  display: block;
}
.column {
    float: left;
    width: 50%;
    padding: 20px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    
    content: "";
    clear: both;
    display: table;
  } 
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  } 